<aside class="aside">
    <h3><span>Most</span> popular</h3>
    <ul class="aside-list">
        <li>
            <a href="#">
                <img src="img/2.webp" alt="">
                <div class="aside-list_info">
                    <p class="number">1</p>
                    <h4>Kim Kardashian Bares Booty In Jockstrap, Calls Pete Davidson a 'Cutie' After BDE
                        Prompt</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/2.webp" alt="">
                <div class="aside-list_info">
                    <p class="number">2</p>
                    <h4>Kim Kardashian Bares Booty In Jockstrap, Calls Pete Davidson a 'Cutie' After BDE
                        Prompt</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/2.webp" alt="">
                <div class="aside-list_info">
                    <p class="number">3</p>
                    <h4>Kim Kardashian Bares Booty In Jockstrap, Calls Pete Davidson a 'Cutie' After BDE
                        Prompt</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/2.webp" alt="">
                <div class="aside-list_info">
                    <p class="number">1</p>
                    <h4>Kim Kardashian Bares Booty In Jockstrap, Calls Pete Davidson a 'Cutie' After BDE
                        Prompt</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/2.webp" alt="">
                <div class="aside-list_info">
                    <p class="number">2</p>
                    <h4>Kim Kardashian Bares Booty In Jockstrap, Calls Pete Davidson a 'Cutie' After BDE
                        Prompt</h4>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="img/2.webp" alt="">
                <div class="aside-list_info">
                    <p class="number">3</p>
                    <h4>Kim Kardashian Bares Booty In Jockstrap, Calls Pete Davidson a 'Cutie' After BDE
                        Prompt</h4>
                </div>
            </a>
        </li>
    </ul>
</aside>